<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit-item</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header" ></div>
<main class="container">
  <h1>Edit item</h1>
  <form method="post">
    <input type="text" name="title" th:value="${item.title}" placeholder="enter title name">
    <input type="text" name="image" th:value="${item.image}" placeholder="enter URL path to picture">
    <input type="number" name="price" th:value="${item.price}" placeholder="enter price for item">
    <textarea name="info" placeholder="enter info for item" th:text="${item.info}" ></textarea>
    <button type="submit">Edit item</button>
  </form>
</main>
<div th:replace="layouts/footer :: footer" ></div>
</body>
</html>