<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header" ></div>
<main class="container">
  <h1>Authorization</h1>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="enter login">
    <input type="password" name="password" placeholder="enter password">
    <button type="submit">logIn</button>
  </form>
</main>
<div th:replace="layouts/footer :: footer" ></div>
</body>
</html>